<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
<div th:replace="fragments/mainHeader ::mainHeader">
    <h3>로그인</h3>
</div>
<div >
    <form  th:object="${member}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" th:field="*{username}" id="username" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors ="*{username}"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" th:field="*{password}" id="password" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors ="*{password}"></div>
        </div>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each = "err: ${#fields.globalErrors()}" th:text = "${err}">전체 오류메시지</p>
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
</div>
</body>
</html>